#header{
    
    position: fixed;
    
    }
#formgroup{
        top:50%;
    }
    
.previous {
    background-color: #f1f1f1;
    color: black;
    float: left;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius:75%;
}
a:hover {
    background-color: #ddd;
    color: black;
}